{{#story-tease alignment='left' story=story as |tease|}}
  {{#media-object valign='c' as |mo|}}

    {{#if (and story.thumbnailLarge (media 'isMedium'))}}
      {{#mo.media}}
        {{tease.image
          round=true
          src=story.thumbnailLarge}}
      {{/mo.media}}
    {{/if}}

    {{#mo.body}}
      {{tease.orgs fallback=story.showTitle}}
      {{tease.title}}
      {{tease.summary}}

      {{#tease.footer}}
        <span class="story-tease__date">{{moment-format story.newsdate 'MMM DD, YYYY'}}</span>
        {{#if story.author}}
          <span class="story-tease__dot">•</span><span class="story-tease__author">{{story.author}}</span>
        {{/if}}
      {{/tease.footer}}
    {{/mo.body}}

  {{/media-object}}
{{/story-tease}}
