{{#story-tease alignment='left' story=story medium=medium source=source campaign=campaign as |tease|}}
  {{#media-object valign='c' as |mo|}}

    {{#if (and story.thumbnailLarge (media 'isMedium'))}}
      {{#mo.media}}
        {{tease.image
          width=288
          round=true
          src=story.thumbnailSmall}}
      {{/mo.media}}
    {{/if}}

    {{#mo.body}}
      {{tease.orgs fallback=story.showTitle}}
      {{tease.title}}
      {{tease.summary}}

      {{#tease.footer}}
        {{#if story.newsdate}}
          <span class="story-tease__date">{{moment-format story.newsdate 'MMM DD, YYYY'}}</span>
        {{/if}}
        {{#if (and story.newsdate story.author)}}
          <span class="story-tease__dot">•</span>
        {{/if}}
        {{#if story.author}}
          <span class="story-tease__author">{{story.author}}</span>
        {{/if}}
      {{/tease.footer}}
    {{/mo.body}}

  {{/media-object}}
{{/story-tease}}
