{{#if (has-block)}}

  {{yield (hash
    orgs=(component 'story-tease/brand' orgs=story.producingOrganizations)
    title=(component 'story-tease/title' url=story.url title=story.title)
    image=(component 'story-tease/image' url=story.url src=imageUrl)
    summary=(component 'story-tease/summary' summary=story.tease)
    footer=(component 'story-tease/footer')
    relativeDate=(moment-from story.newsdate)
  )}}

{{else}}
  {{story-tease/brand orgs=story.producingOrganizations fallback=story.showTitle}}

  {{story-tease/title url=story.url title=story.title}}

  {{#if (and featured imageUrl)}}
    {{story-tease/image url=story.url src=imageUrl}}
  {{/if}}

  {{#if featured}}
    {{story-tease/summary summary=story.tease}}
  {{/if}}

  <div class="story-tease__date">
    Published {{moment-from story.newsdate}}
  </div>
{{/if}}
