<h1 class="updates__title">
  <span>
    Get Updates
  </span>
</h1>

<p class="updates__blurb">
  Get the latest updates
</p>

{{#liquid-if (eq step NEWSLETTER) use='crossFade'}}
  {{updates-section/form
    name='email'
    validations=EMAIL_VALIDATIONS
    submit=(action submitEmail)
    onSuccess=(action (mut step) SMS)}}
{{else if (eq step SMS)}}
  {{updates-section/form
    name='sms'
    validations=SMS_VALIDATIONS
    submit=(action submitPhone)
    onSuccess=(action (mut step) DONE)}}
{{else if (eq step DONE)}}
  {{updates-section/success}}
{{/liquid-if}}
