{{#nypr-ui/hero
  class="page-intro"
  gradient=true
  sticky=true
  as |hero|}}
  {{#hero.top as |top|}}
    {{#top.left}}
      {{#share-icons class="intro-share" as |share|}}
        {{share.fb-post}}
        {{share.tweet text="TKTK Tweet Text" via="WNYC"}}
        {{share.email}}
      {{/share-icons}}
    {{/top.left}}

    {{#top.right}}
      <div class="intro-share">
        <span class="intro-share__label">Share</span>
        {{#share-icons as |share|}}
          {{share.fb-post}}
          {{share.tweet text="TKTK Tweet Text" via="WNYC"}}
          {{share.email}}
        {{/share-icons}}
      </div>
      {{#nypr-ui/buttons/red
        class="intro-donate gtm__click-tracking"
        data-action='Donate'
        data-label='[midterms]'
        tagName="a"
        tall=true
        href="https://pledge3.wnyc.org/donate/midterms-2018/onestep/?ref=button-donate-header"}}
        Donate
      {{/nypr-ui/buttons/red}}
    {{/top.right}}
  {{/hero.top}}

  {{#hero.headline}}
    {{#media-object class="intro-lockup" as |mo|}}
      {{#mo.media class="intro-lockup__logo"}}
        <img src="/assets/images/logo.png" >
      {{/mo.media}}

      {{#mo.body class="intro-lockup__text"}}
        <h1>
          <span>2018</span>
          <span>Your Voice,</span>
          <span>Your Choice</span>
        </h1>
      {{/mo.body}}
    {{/media-object}}
  {{/hero.headline}}

  {{#hero.blurb class="page-intro__blurb"}}
    <p>
      \{{election-countdown}}
    </p>
  {{/hero.blurb}}

  {{#hero.footer class="page-intro__footer"}}
    {{page-intro/real-answers}}
  {{/hero.footer}}
{{/nypr-ui/hero}}
