{{#nypr-ui/hero
  class="page-intro"
  gradient=true
  sticky=true
  as |hero|}}
  {{#hero.footer class="page-intro__footer"}}
    <div class="intro-share">
      <span class="intro-share__label">Share</span>
      {{#share-icons as |share|}}
        {{share.fb-post}}
        {{share.tweet text="TKTK Tweet Text" via="WNYC"}}
        {{share.email}}
      {{/share-icons}}
    </div>
  {{/hero.footer}}

  {{#hero.headline}}
    {{page-intro/lockup}}
  {{/hero.headline}}

  <div class="election-countdown-wrapper">
    {{election-countdown unit='days' to='2018-11-06T00:00:00.000-05:00'}}
  </div>

  {{#hero.top as |top|}}
    {{#top.left}}
      {{#nav-links links=links as |link|}}
        {{#unless link.hash}}
          {{link-to link.text link.route}}
        {{else}}
          {{hash-link
            route=link.route
            hash=link.hash
            label=link.text
            options=(hash offset=-100)}}
        {{/unless}}
      {{/nav-links}}
    {{/top.left}}
  {{/hero.top}}
{{/nypr-ui/hero}}
