{{#nypr-ui/hero
  class="page-intro"
  gradient=true
  sticky=true
  as |hero|}}
  {{#hero.top as |top|}}
    {{#top.left}}
      {{#share-icons class="intro-share" as |share|}}
        {{share.fb-post}}
        {{share.tweet text="TKTK Tweet Text" via="WNYC"}}
        {{share.email}}
      {{/share-icons}}
    {{/top.left}}

    {{#top.right}}
      <div class="intro-share">
        <span class="intro-share__label">Share</span>
        {{#share-icons as |share|}}
          {{share.fb-post}}
          {{share.tweet text="TKTK Tweet Text" via="WNYC"}}
          {{share.email}}
        {{/share-icons}}
      </div>
      {{#nypr-ui/buttons/red
        class="intro-donate gtm__click-tracking"
        data-action='Donate'
        data-label='[midterms]'
        tagName="a"
        tall=true
        href="https://pledge3.wnyc.org/donate/midterms-2018/onestep/?ref=button-donate-header"}}
        Donate
      {{/nypr-ui/buttons/red}}
    {{/top.right}}
  {{/hero.top}}

  {{#hero.headline}}
    {{page-intro/lockup}}
  {{/hero.headline}}

  {{#hero.blurb class="page-intro__blurb"}}
    <p>
      \{{election-countdown}}
    </p>
    <p class="header-blurb">
      You ask and we investigate. Our partnership will help you understand better what is going on during the Midterm elections. We are here to help you stay informed in the next TK days.
    </p>

    <div class="page-intro__info">
      <a href="">How does this work?</a>
    </div>
  {{/hero.blurb}}

  {{#hero.footer class="page-intro__footer"}}
    {{nypr-svg icon="down-arrow" className="down-arrow"}}
  {{/hero.footer}}
{{/nypr-ui/hero}}
