{{#nypr-ui/hero
  class="page-intro"
  gradient=true
  sticky=true
  as |hero|}}
  {{#hero.footer class="page-intro__footer"}}
    <div class="intro-share">
      <span class="intro-share__label">Share</span>
      {{#share-icons as |share|}}
        {{share.fb-post}}
        {{share.tweet text="TKTK Tweet Text" via="WNYC"}}
        {{share.email}}
      {{/share-icons}}
    </div>
  {{/hero.footer}}

  {{#hero.headline}}
    {{page-intro/lockup}}
  {{/hero.headline}}

  {{election-countdown unit='days' to='2018-11-06T00:00:00.000-05:00'}}

  {{#hero.top as |top|}}
    {{#top.left}}
      <div class="intro-links">
        {{link-to 'Get Updates' 'articles'}}
        {{hash-link route='index' hash='podcasts' options=(hash offset=-100) label="Podcasts"}}
        {{hash-link route='index' hash='news' options=(hash offset=-100) label="News"}}
        {{hash-link route='index' hash='guide' options=(hash offset=-100) label="Voter Guide"}}
      </div>
    {{/top.left}}
  {{/hero.top}}
{{/nypr-ui/hero}}
