{{#page-section gradient=true open=true as |section|}}
  {{#section.tease}}
    <h1 class="listen-section__title" id="podcasts">
      <span>
        Podcasts and Live Radio
      </span>
    </h1>

  {{/section.tease}}

  {{#section.body}}
    <div class="listen-section__episodes">
      <div class="listen-section__item">
        {{episode-tease show=politicsBrief}}
      </div>

      <div class="listen-section__item">
        {{episode-tease show=morePerfect}}
      </div>

      <div class="listen-section__item">
        {{#episode-tease as |tease|}}
          {{#tease.top bg=(image-template americaLine.image.template 238 111 'c')}}
            {{tease.logo image=(image-template americaLine.image.template 160 160 'c') height=80 width=80}}
          {{/tease.top}}

          {{#tease.bottom}}
            {{tease.title americaLine.title}}

            {{#tease.body}}
              {{{americaLine.tease}}}
            {{/tease.body}}

            {{tease.link "Listen to the Latest Episode" americaLine.url}}

          {{/tease.bottom}}
        {{/episode-tease}}
      </div>

      <div class="listen-section__item live-radio">
      {{#episode-tease data-test-live-stream as |tease|}}
        {{#tease.top bg='/assets/images/wnyc-logo.png'}}
          {{tease.logo image='/assets/images/wnyc-logo.png'}}
        {{/tease.top}}

        {{#tease.bottom}}
          {{tease.title "Listen to our Live coverage"}}
          {{#tease.body}}
            <span class="live-box">Live</span> <span class="live-radio__show-title">{{stream.currentShow.showTitle}}</span>
            {{#if stream.currentShow.episodeTitle}}
              <p class="live-radio__episode-title">{{stream.currentShow.episodeTitle}}</p>
            {{/if}}
          {{/tease.body}}

          {{tease.link "Listen Live" noMargin=true onClick=(action listenLive) data-test-selector="live"}}
        {{/tease.bottom}}

      {{/episode-tease}}
      </div>
    </div>
  {{/section.body}}

{{/page-section}}
