{{#page-section gradient=true open=(media 'isMedium') as |section|}}
  {{#section.tease}}
    <h1 class="listen-section__title">
      Related Listening
    </h1>

    {{#unless section.isOpen}}
      {{#episode-tease audio=midterms.slug as |tease|}}
        {{tease.title midterms.showTitle}}
        {{tease.link midterms.title (concat 'https://www.wnycstudios.org/shows/' midterms.show)}}

        {{#tease.body}}
          {{{midterms.tease}}}
        {{/tease.body}}

        {{tease.footer links=midterms.podcastLinks}}
      {{/episode-tease}}
    {{/unless}}
  {{/section.tease}}

  {{#section.body}}
    <div class="listen-section__episodes">
      <div class="listen-section__item">
      {{#episode-tease audio=midterms.slug as |tease|}}
        {{tease.title midterms.showTitle}}
        {{tease.link midterms.title (concat 'https://www.wnycstudios.org/shows/' midterms.show)}}

        {{#tease.body}}
          {{{midterms.tease}}}
        {{/tease.body}}

        {{tease.footer links=midterms.podcastLinks}}
      {{/episode-tease}}
      </div>

      {{#if morePerfect}}
      <div class="listen-section__item">
      {{#episode-tease audio=morePerfect.slug as |tease|}}
        {{tease.title morePerfect.showTitle}}
        {{tease.link morePerfect.title (concat 'https://www.wnycstudios.org/shows/' morePerfect.show)}}

        {{#tease.body}}
          {{{morePerfect.tease}}}
        {{/tease.body}}

        {{tease.footer links=morePerfect.podcastLinks}}
      {{/episode-tease}}
      </div>
      {{/if}}

      <div class="listen-section__item">
      {{#episode-tease data-test-live-stream audio='wnyc-fm939' as |tease|}}
        {{tease.title "Listen to our Live coverage"}}

        {{#tease.body}}
          <span class="live-box">Live</span> Lorem ipsum lorem ipsum
        {{/tease.body}}
      {{/episode-tease}}
      </div>
    </div>
  {{/section.body}}

{{/page-section}}
