{{#page-section open=(media 'isMedium') as |section|}}
  {{#section.tease}}
    <h1 class="listen-section__title">
      <span>
        Listen
      </span>
    </h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>

    {{#unless section.isOpen}}
    <div class="listen-section__buttons">
      <button class="listen-section__button" data-test-open-listen {{action section.toggleOpen}}>Podcasts</button>
      <button class="listen-section__button" data-test-listen-live {{action listenLive}}>Live Radio</button>
    </div>
    {{/unless}}
  {{/section.tease}}

  {{#section.body}}
    <div class="listen-section__episodes">
      <div class="listen-section__item">
      {{#episode-tease audio='wnyc-fm939' as |tease|}}
        {{tease.title "NYPR Midterm Podcast"}}
        {{tease.link "See All Episodes" "https://www.wnycstudios.org/midterms"}}

        {{#tease.body}}
          Lorem ipsum lorem ipsum
        {{/tease.body}}

        {{tease.footer links=NEWSROOM_LINKS}}
      {{/episode-tease}}
      </div>

      <div class="listen-section__item">
      {{#episode-tease audio='wnyc-fm939' as |tease|}}
        {{tease.title "Listen to our Live coverage"}}

        {{#tease.body}}
          <span class="live-box">Live</span> Lorem ipsum lorem ipsum
        {{/tease.body}}

        {{tease.footer links=NEWSROOM_LINKS}}
      {{/episode-tease}}
      </div>
    </div>
  {{/section.body}}

{{/page-section}}
