{{#page-section open=(media 'isMedium') as |section|}}
  {{#section.tease}}
    <h1 class="listen-section__title">
      <span>
        Listen
      </span>
    </h1>

    <p class="listen-section__blurb">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>

    {{#unless section.isOpen}}
    <div class="listen-section__buttons">
      <button class="listen-section__button" data-test-open-listen {{action section.toggleOpen}}>Podcasts</button>
      <button class="listen-section__button" data-test-listen-live {{action listenLive}}>Live Radio</button>
    </div>
    {{/unless}}
  {{/section.tease}}

  {{#section.body}}
    <div class="listen-section__episodes">
      <div class="listen-section__item">
      {{#episode-tease audio=midterms.slug as |tease|}}
        {{tease.title midterms.title}}
        {{tease.link "See All Episodes" (concat 'https://www.wnycstudios.org/shows/' midterms.show)}}

        {{#tease.body}}
          {{{midterms.tease}}}
        {{/tease.body}}

        {{tease.footer links=midterms.podcastLinks}}
      {{/episode-tease}}
      </div>

      {{#if morePerfect}}
      <div class="listen-section__item">
      {{#episode-tease audio=morePerfect.slug as |tease|}}
        {{tease.title morePerfect.title}}
        {{tease.link "See All Episodes" (concat 'https://www.wnycstudios.org/shows/' morePerfect.show)}}

        {{#tease.body}}
          {{{morePerfect.tease}}}
        {{/tease.body}}

        {{tease.footer links=morePerfect.podcastLinks}}
      {{/episode-tease}}
      </div>
      {{/if}}

      <div class="listen-section__item">
      {{#episode-tease audio='wnyc-fm939' as |tease|}}
        {{tease.title "Listen to our Live coverage"}}

        {{#tease.body}}
          <span class="live-box">Live</span> Lorem ipsum lorem ipsum
        {{/tease.body}}
      {{/episode-tease}}
      </div>
    </div>
  {{/section.body}}

{{/page-section}}
