{{#page-section gradient=true open=(media 'isMedium') as |section|}}
  {{#section.tease}}
    <h1 class="listen-section__title" id="podcasts">
      Podcasts and Streams
    </h1>

    {{#unless section.isOpen}}
      {{episode-tease show=politicsBrief}}
    {{/unless}}
  {{/section.tease}}

  {{#section.body}}
    <div class="listen-section__episodes">
      <div class="listen-section__item">
        {{episode-tease show=politicsBrief}}
      </div>

      <div class="listen-section__item">
        {{episode-tease show=morePerfect}}
      </div>

      <div class="listen-section__item">
      {{#episode-tease data-test-live-stream as |tease|}}
        {{#tease.top bg='/assets/images/wnyc-logo.png'}}
          {{tease.logo image='/assets/images/wnyc-logo.png'}}
        {{/tease.top}}

        {{#tease.bottom}}
          {{tease.title "Listen to our Live coverage"}}
          {{#tease.body}}
            <span class="live-box">Live</span> Lorem ipsum lorem ipsum
          {{/tease.body}}

          {{tease.link "Listen Live" noMargin=true onClick=(action listenLive)}}
        {{/tease.bottom}}

      {{/episode-tease}}
      </div>
    </div>
  {{/section.body}}

{{/page-section}}
