<div class="site-footer__wrapper">
  <div class="site-footer__brand">
    <img src="/assets/images/logo.png" title="Your Voice, Your Choice logo">
  </div>

  <div class="site-footer__top">
    <h1 class="site-footer__title">About Your Voice, Your Choice</h1>

    <p class="site-footer__blurb">
      Your Voice, Your Choice is the home for independent politics coverage, brought to you by WNYC and Gothamist. Broadcasting live from New York City on 93.9 FM and AM 820 and available online and on the go.
    </p>

    <div class="footer-share">
      <span class="footer-share__label">Share</span>
      {{#share-icons as |share|}}
        {{share.fb-post}}
        {{share.tweet via="WNYC"}}
        {{share.email}}
      {{/share-icons}}
    </div>
  </div>

  <div class="site-footer__bottom">
    <div class="site-footer__logos">
      <div class="site-footer__logo">
        <a href="http://gothamist.com" target="_blank">
          {{nypr-svg icon="gothamist-logo" className="gothamist"}}
        </a>
      </div>
      <div class="site-footer__logo">
        <a href="https://www.wnyc.org" target="_blank">
          {{nypr-svg icon="wnyc-logo" className="wnyc"}}
        </a>
      </div>
      <div class="site-footer__logo">
        <a href="https://www.wnycstudios.org" target="_blank">
          {{nypr-svg icon="wnyc-studios-logo" className="studios"}}
        </a>
      </div>
    </div>

    <p class="site-footer__blurb">
      If you’ve made it this far, you likely value independent, local journalism. Here is how you can support us.
    </p>

    <div class="site-footer__donate">
      <a href="https://pledge3.wnyc.org/donate/midterms-2018/onestep/?ref=button-donate-footer" class="site-footer__donate-link" target="_blank">
        Donate
      </a>
    </div>

  </div>

  <ul class="site-footer__links">
    <li class="site-footer__link">
      <a href="http://www.newyorkpublicradio.org" title="New York Public Radio">&copy; {{moment-format (now) 'YYYY'}} New York Public Radio</a>
    </li>
    <li class="site-footer__link">
      <a href="https://www.wnyc.org/terms/" target="_blank" title="Terms of Use">Terms of Use</a>
    </li>
    <li class="site-footer__link">
      <a href="https://www.wnyc.org/privacy/" target="_blank" title="Privacy Policy">Privacy Policy</a>
    </li>
    <li class="site-footer__link">
      <a href="https://www.wnyc.org/corrections/" target="_blank">Corrections</a>
    </li>
    <li class="site-footer__link">
      <a href="https://publicfiles.fcc.gov/fm-profile/wnyc-fm" title="WNYC-FM FCC Public File" target="_blank">WNYC-FM FCC Public File</a>
    </li>
    <li class="site-footer__link">
      <a href="https://media.wnyc.org/media/resources/2018/Jan/31/NYPR_2018_EEO_Public_File_Report.pdf" title="EEO Report" target="_blank">EEO Report</a>
    </li>
    <li class="site-footer__link">
      <a href="https://publicfiles.fcc.gov/am-profile/wnyc" title="WNYC-AM FCC Public File" target="_blank">WNYC-AM FCC Public File</a>
    </li>
  </ul>
</div>
