<div class="real-answers__wrapper">
  <h1 class="real-answers__title">
    <span>
      Ask a Reporter
    </span>
  </h1>

  <p class="real-answers__blurb">
    Do you have a question about how you can make a difference in your neighborhood, city or state? What about voting, the elections or navigating civic life in New York? Ask us! We want to help you get involved by answering your questions.
    <a href="http://gothamist.com/2018/08/22/how_to_be_civically_engaged_nyer.php" target="_blank">Read more</a>.
  </p>

  <ul class="real-answers__items">
    <li class="real-answers__item">
    {{#media-object valign='c' as |mo|}}
      {{#mo.media}}
        {{nypr-svg icon="dialog"}}
      {{/mo.media}}
      {{#mo.body}}
        {{hash-link
          route='hearken-hub'
          hash='ask'
          label='Ask a Question'
          class='real-answers__link gtm__click-tracking'
          data-action='Hearken'
          data-label='ask'
        }}
      {{/mo.body}}
    {{/media-object}}
    </li>
    <li class="real-answers__item">
    {{#media-object valign='c' as |mo|}}
      {{#mo.media}}
        {{nypr-svg icon="thumbs"}}
      {{/mo.media}}
      {{#mo.body}}
        {{hash-link
          route='hearken-hub'
          hash='vote'
          label='Vote on Questions'
          class='real-answers__link gtm__click-tracking'
          data-action='Hearken'
          data-label='vote'
        }}
      {{/mo.body}}
    {{/media-object}}
    </li>
    <li class="real-answers__item">
    {{#media-object valign='c' as |mo|}}
      {{#mo.media}}
        {{nypr-svg icon="light-bulbs"}}
      {{/mo.media}}
      {{#mo.body}}
        {{hash-link
          route='hearken-hub'
          hash='answers'
          label='Browse Newsroom Answers'
          class='real-answers__link gtm__click-tracking'
          data-action='Hearken'
          data-label='browse'
        }}
      {{/mo.body}}
    {{/media-object}}
    </li>
  </ul>
</div>
