<div class="real-answers__wrapper">
  <h1 class="real-answers__title">
    Ask a Reporter
  </h1>

  <p class="real-answers__blurb">
    The Midterms are scary. We are here to help. Ask us a question that we can investigate or browse questions submitted by other New Yorkers like you.
  </p>

  <ul class="real-answers__items">
    <li class="real-answers__item">
    {{#media-object valign='c' as |mo|}}
      {{#mo.media}}
        {{nypr-svg icon="dialog"}}
      {{/mo.media}}
      {{#mo.body}}
        {{hash-link
          route='hearken-hub'
          hash='ask'
          label='Ask us a Question'
          class='real-answers__link'
        }}
      {{/mo.body}}
    {{/media-object}}
    </li>
    <li class="real-answers__item">
    {{#media-object valign='c' as |mo|}}
      {{#mo.media}}
        {{nypr-svg icon="thumbs"}}
      {{/mo.media}}
      {{#mo.body}}
        {{hash-link
          route='hearken-hub'
          hash='vote'
          label='Vote on Your Submissions'
          class='real-answers__link'
        }}
      {{/mo.body}}
    {{/media-object}}
    </li>
    <li class="real-answers__item">
    {{#media-object valign='c' as |mo|}}
      {{#mo.media}}
        {{nypr-svg icon="light-bulbs"}}
      {{/mo.media}}
      {{#mo.body}}
        {{hash-link
          route='hearken-hub'
          hash='answers'
          label='Browse Newsroom Answers'
          class='real-answers__link'
        }}
      {{/mo.body}}
    {{/media-object}}
    </li>
  </ul>
</div>
