<h1 class="opt-in__header">Sign Up for Updates</h1>
<p class="opt-in__subheader">Get the latest updates via Email Lorem Ips Lorem Ipsum Dolor</p>

{{#if (and emailSuccess (not phoneSuccess))}}
  Email success text
{{/if}}

{{#if (and phoneSuccess (not emailSuccess))}}
  Phone success text
{{/if}}

{{#if (and phoneSuccess emailSuccess)}}
  Both were submitted
{{/if}}

{{#if (not isFullFormSubmitted)}}
  <form {{action 'submitForms' on='submit'}}>
    <div class="opt-in__formset">
      {{#if (not emailSuccess)}}
        <div class="opt-in__email-form opt-in__form">
          {{fa-icon "envelope" class="nypr-input-icon"}}
          {{nypr-input
          data-test-email-input
          fieldname='signupEmail'
          placeholder='Email Address'
          value=changeset.email
          errors=(or changeset.error.email.validation emailResponseErrors)
          class="opt-in__email-input"
          }}
        </div>
      {{/if}}

      {{#if (not phoneSuccess)}}
        <div class="opt-in__phone-form opt-in__form">
          {{fa-icon "mobile-alt" class="nypr-input-icon"}}
          {{nypr-input
          data-test-phone-input
          type='tel'
          fieldname='signupPhoneNumber'
          placeholder='Phone Number'
          value=changeset.phone
          errors=(or changeset.error.phone.validation phoneResponseErrors)
          class="opt-in__phone-input"
          }}
        </div>
      {{/if}}
    </div>

    <p class="opt-in__legal-checkbox">
      {{input data-test-legal-checkbox id="optin_legal" type="checkbox" name="legalChecked" checked=legalChecked}}
      <label for="optin_legal">By submitting your information, you're agreeing to receive communications
        from New York Public Radio in accordance with our <a href="https://www.wnyc.org/terms/" target="_blank">Terms of Use</a>.</label>
    </p>

    <button class="opt-in__submit-button" type="submit" disabled={{isSubmitButtonDisabled}} data-test-submit-button>
      Sign Up
    </button>
  </form>
{{/if}}